<div class="titleDiv">
    <p>قبيلة ال بوعبيد</p>
</div>

<div class="row">

    <div class="col-4 vv">
        <img routerLink="first" src="../../assets/images/bg/photo.png" class="img1">
    </div>
    <div class="col-4 vb">
        <div dir="rtl" class="text">
            <h2>مَنْ بَنَى عَبْداللَّه بْنِ دَارِمِ بْنِ مَالِكٍ بْنِ حَنْظَلَةَ بْنِ مَالِكٍ نُب زَيْدِ مَنَاةَ بْنِ تَمِيمٍ بْنِ مُرّ بْنِ أُدّ بْنِ طَابِخَةَ بْنِ إلْيَاسَ بْنِ
                مُضَرَ بْنِ نِزَارِ بْنِ مَعَدّ بْنِ عَدْنَانَ مِنْ ذُرِّيَّةِ نَبِىَّ اللَّهِ إسْمَاعِيلَ بْنُ إِبْرَاهِيمَ الخليل .
            </h2>
        </div>
    </div>

</div>