.titleDiv {
    position: relative;
    left: 40%;
    text-align: center;
    width: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-bottom: 1px solid black !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

.vv {
    height: 20%;
    // background-color: blue;
    margin-bottom: 5%;
    margin-left: 14%;
}

.vb {
    height: 20%;
    // background-color: blue;
    margin-bottom: 5%;
}

.img1 {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.img1:hover {
    cursor: pointer;
}

.text {
    text-align: justify;
    margin-top: 5%;


}

h2 {
    line-height: 1.5;
}