<div class="row">
    <nav class="navbar navbar-light bg-dark search1">
        <div class="container-fluid">
          <form class="d-flex">
            <input class="form-control me-2 search2" type="search" placeholder="البحث" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">بحث</button>
          </form>
        </div>
      </nav>
    <div class="webHeader">
        <div class="headerContent">
            <div class="headerText">
                <!-- <img class="logo" src="../../assets/images/bg/White_and_Gray_Modern_Tree_Logo-removebg-preview.png"> -->
                <p>أَلَمْ تَرَ كَيْفَ ضَرَبَ اللَّهُ مَثَلًا كَلِمَةً طَيِّبَةً كَشَجَرَةٍ طَيِّبَةٍ أَصْلُهَا ثَابِتٌ وَفَرْعُهَا فِي السَّمَاءِ </p>
                <button type="button" class="btn btn-outline-success">اعرف عنا</button>
            </div>
        </div>
    </div>
</div>