<div class="titleDiv">
    <p>أبناء محمد أحمد عبدالله بوعبيد</p>
</div>


<div class="row">

    <div routerLink="/fourth" class="col-3 cardPos">
        <div class="card">
            <div class="card-body textAlign">
                <h1 class="mb-0 font-weight-bold">عبدالعزيز</h1><br>
                <h4 class="mb-0 font-weight-bold gen">جيل : الرابع</h4>
            </div>
        </div>
    </div>
    <div routerLink="/fourth" class="col-3 cardPos">
        <div class="card">
            <div class="card-body textAlign">
                <h1 class="mb-0 font-weight-bold">عيسى</h1><br>
                <h4 class="mb-0 font-weight-bold gen">جيل : الرابع</h4>
            </div>
        </div>
    </div>
    <div routerLink="/fourth" class="col-3 cardPos">
        <div class="card">
            <div class="card-body textAlign">
                <h1 class="mb-0 font-weight-bold">جاسم</h1><br>
                <h4 class="mb-0 font-weight-bold gen">جيل : الرابع</h4>
            </div>
        </div>
    </div>

</div>